{% extends "layout.html" %}
{% block title %} Catalog not found {% endblock %}
{% block content %}
<h1>No file uplodaded</h1>
<p>Please return to upload menu to upload a valid catalog:</p>
<input type="submit" value="Upload other catalog" id="returnUpload" onclick="redirectToUploadWindow()">
<script type="text/javascript" src="/static/scripts.js"></script>
<p>{{current_file}}</p>
{% endblock %}
