{% extends "layout.html" %}
{% block title %} Upload your file {% endblock %}
{% block content %}

<form method="post" enctype="multipart/form-data">
    <fieldset>
        <legend><h1>Select a file to upload</h1></legend>
            <input type="file" name="file">
    </fieldset>
    <input type="submit" value="Upload">
</form>


{% endblock %}