{% extends "layout.html" %}
{% block title %} Upload your file {% endblock %}
{% block content %}
<h1>Inspect the catalog!</h1>

<form method="post">
    <fieldset>
        <legend>What you want to find out?</legend>
            <input type="radio" name="action" value="file" {{ disabled }}>File<br>
            <input type="radio" name="action" value="numResources">Get amount of resources<br>
            <input type="radio" name="action" value="typeResources">Types of resources<br>
            <input type="radio" name="action" value="serverInfo">Server info<br>
            <input type="radio" name="action" value="test">Test
    </fieldset>
    <input type="submit" value="Submit"> <br />
    <input type="reset" value="Reset form">
</form>
<input type="submit" value="Upload other catalog" id="returnUpload" onclick="redirectToUploadWindow()">
<script type="text/javascript" src="/static/scripts.js"></script>
<p>{{current_file}}</p>
{% endblock %}

