<html>
    <head>
        <title>{% block title %} {% endblock %}</title>
        <link rel="stylesheet" href="/static/main.css">
</head>
    <body>
        {% block content %}{% endblock %}
    </body>
    </html>