{% extends "layout.html" %}
{% block title %} {{ title }} {% endblock %}
{% block content %}
<h1>{{ title }}</h1>
<p>
    {% if text_to_return is is_list %}
    {% for item in text_to_return %}
    <li>{{ item }} </li>
    {% endfor %}
    {% else %}
    {{ text_to_return }} 
    {% endif %}
</p>
</br><input type="submit" value="Upload other catalog" id="returnUpload" onclick="redirectToUploadWindow()">
<script type="text/javascript" src="/static/scripts.js"></script>
{% endblock %}
