{% extends "layout.html" %}
{% block title %} Summary {% endblock %}
{% block content %}
<h1>Summary of the catalog</h1>
<h2>Server information</h2>
<table>
    <tr>
        {% for key,value in arr[0].items() %}
        <th>{{ key }}</th>
        {% endfor %}
    </tr>
    <tr>
        {% for key,value in arr[0].items() %}
        <td>{{ value }}</td>
        {% endfor %}
    </tr>
</table>

<h2>Resource summary</h2>
<table>
    <tr>
        {% for key,value in arr[1].items() %}
        <th> {{ key }} </th>
        {% endfor %}
    </tr>
    <tr>
       {% for key,value in arr[1].items() %}      
        <td> {{ value }} </td>
        {% endfor %}
    </tr>
</table>
</br><input type="submit" value="Upload other catalog" id="returnUpload" onclick="redirectToUploadWindow()">
</br><input type="submit" value="Return to option list" id="returnOption" onclick="redirectToOptionWindow()">
<script type="text/javascript" src="/static/scripts.js"></script>
{% endblock %}